extends layout
block content
        h2.title Welcome #{name}!
        form.form-signin(action='/postits', method='POST')
        input(type='text', name='postit')
        button.btn.btn-lg.btn-dark.btn-inline-block(type='submit') Create
         button.btn.btn-lg.btn-light.btn-inline-block
            a(href='/logout') Logout
         if error
        p(class='error') #{error}

        if postits.length
            ul
                each postit in postits
                    li= postit.text
                