extends layout
block content
    div.content
      h2.title LOGIN
      form.form-signin(action='/login', method='POST')
        input.form-control(type='text', name='username', placeholder='Username')
        input.form-control(type='password', name='password', placeholder='Password')
        button.btn.btn-lg.btn-dark.btn-inline-block(type='submit') Login
      if error
        p(class='error') #{error}
      a(href='/') go back