.body {
    margin: 0;
    height: 100vh;
    width: 100vw;
}

.space-background {
    margin: 0;
    background-image: url(../images/space.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -5;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    margin: 200px auto;
    background-color: #f8f80ce8;
	overflow: hidden;
    filter: drop-shadow(3px 3px 10px rgba(0,0,0,0.8));
    transform: rotate(3deg);
    width: 20em;
    min-height: 18em;
    font-size: 30px;
}

.content {
    width: 80%;
    height: 80%;
    padding: 80px;
    transform: rotate(-3deg);
    background: hsla(0, 0%, 75%, 0.411);
}


.background-home {
    height: 100vh;
    width: 100vw;
    background-color: blanchedalmond;
    
}

.content-home {
    margin: 200px auto;
    width: 700px;
    height: 700px;;
    display: flex;


}

.top-side {
    margin: 0;
    width: 100vw;
    height: 150px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.title {
    font-size: 50px;
}

.landing__buttons {
    width: 100%;
   display: flex;
   justify-content: space-evenly;
}

.btn-dark a {
    color: white;
}


.btn-light a {
    color: black;
}

.error {
    color: red;
}

.goBack {
    display: inline;
}

li {
    list-style: none;
    display: block;
}

